.scoreFont {
	color: #00CCFF;
	font-size: 18px;
	font-style: normal;
	font-family: ‘Lucida Console’, Monaco, monospace;
	letter-spacing: 7px;
	cursor: default;
}

.ultraGraphicsEngine button {
  border: 1px solid black;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(black)); 
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12;
  font-family: ‘Lucida Console’, Monaco, monospace;
  cursor: pointer;
  cursor: hand;
  border: 1px outset #ccc;
  color: #6699FF;
}

.ultraGraphicsEngine button:active {
  border: 1px inset #ccc;
}

.ultraGraphicsEngine button:hover {
  border-color: #9cf #69e #69e #7af;
}

.flexTableHeader {
	background-color: #222222;
 }

.popup {
  border: 3px solid #6699FF;
  font-family: Tahoma;
  padding: 0px;
  background: #4D4D4D;
  border-radius: 3px;
}

.glass {
  background-color: #000000;
  opacity: 0.7;
  filter: alpha(opacity=20);
}

.greySmall {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 12px;
}

.greyLarge {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 18px;
}

.greyMedium {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
}

.blueSmall {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 12px;
  color: #6699FF;
}

.blueTiny {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 9px;
  color: #6699FF;
}

.blueSmallCursor {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 12px;
  color: #6699FF;
  cursor: pointer;
}

.greySmallCursor {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 12px;
	cursor: pointer;
}

.blueLarge {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 18px;
  color: #6699FF;
}

.blueLargeCursor {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 18px;
  color: #6699FF;
  cursor: pointer;
}

.greyLargeCursor {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 18px;
	cursor: pointer;
}

.blueMedium {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: #6699FF;
}

.blueMediumCursor {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: #6699FF;
  cursor: pointer;
}

.greyMediumCursor {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
	cursor: pointer;
}

.blueBold {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: #6699FF;
	font-weight: bold;
}

.greyBold {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	color: #AAAAAA;
	font-family: ‘Lucida Console’, Monaco, monospace;
	font-weight: bold;
}

.imageOpacity {
  opacity:0.4;
  filter:alpha(opacity=40);
}

.gwt-SliderBar-shell {
  height: 18px;
  width: 140px;
}
.gwt-SliderBar-shell .gwt-SliderBar-line {
  border: 1px solid black;
  background-color: white;
  height: 4px;
  width: 95%;
  top: 7pt;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 0pt;
  width: 11px;
  height: 21px;
  z-index: 1;
  cursor: pointer;
}
.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  background-color: #6699FF;
  cursor: pointer;
}